<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> calculator main page </h1>
    <form method="post">
        {% csrf_token %}
    <input type="text" name="nums1" placeholder="enter num 1" required><br><br>
    <input type="text" name="nums2" placeholder="enter num 2" required><br><br>
    <input type="text" name="op" placeholder="enter operation" required><br><br>
    
    <button type="submit">submit</button>
    </form>
    {% if result %}
    <h2> result:{{result}}</h2>
    {% endif %}
</body>
</html>
